
snippet blankhtml
<!DOCTYPE HTML>
<html>
<head>
  <title>$1</title>
  <link rel="stylesheet" href="$2.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="$2.js"></script>
</head>
<body>
  $0
</body>
</html>
endsnippet

snippet tag
<$1>$0</$1>
endsnippet

snippet dtag
<div class="$1">$0</div>
endsnippet

snippet atag
<a href="$1" class="$1">$0</a>
endsnippet
